.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color:#000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;

  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url(../images/logo_place_header.svg);
  z-index: 10;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__subtitle-text {
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  top: 64px;
  position: absolute;
  right: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__paragraph_margin_top-and-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__margin_none {
  margin: 0;
}

.digits {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.section-subtitle_margin_top-one {
  margin-top: 20px;
}

.table {
  width: 1100px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__margin_left-and-right {
  margin-left: auto;
  margin-right: auto;
}

.table__cell {
  width: 250px;
}

.table__cell_margin_top-two {
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__heading_margin_top-three {
  margin-top: 0;
}

.table__text_margin_bottom {
  margin-bottom: 20px;
}

.feynman {
  height: 100vh;
  padding-top: 100px;
  position: relative;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 0 auto;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
  margin: 70px 0 0 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
}

.feynman__illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.kaufman {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  flex-direction: column;
  background-color:  #1f1f1f;
  position: relative;
  overflow: hidden;
}

.table__cell-kaufman {
  width: 200px;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: -210px;
}

.section-title_theme_dark {
color: white;
}

.section-subtitle_theme_dark {
color: white;
}

.table_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  color: white;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color:white;
}

.table__cell_margin_top-for {
  margin-top: 60px;
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  min-height: 350px;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(/images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0;
  margin-bottom: 18px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin: 0;
  margin-bottom: 20px;

}

.footer__column-links {
  justify-content: center;
  margin: 0;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;  
  
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}